.btn {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  padding: 1.6rem;
  text-shadow: $button-text-shadow;
  box-shadow: $button-box-shadow;
  border-radius: $button-border-radius;
  transition: 0.5s ease-in-out;
  width: 100%;
  max-width: 28.8rem;

  &.primary {
    background: $primary-btn-background;

    &:hover {
      background: $primary-btn-background-hover;
    }
  }

  &.secondary {
    border: 0.1rem solid $secondary-btn-border;
    background: $secondary-btn-background;

    &:hover {
      background: $secondary-btn-background-hover;
    }
  }

  &.white {
    border: 0.1rem solid $white-btn-border;
    background: $white-btn-background;

    &:hover {
      background: $white-btn-background-hover;
    }

  }

  &.gradient {
    position: relative;
    z-index: 0;

    &:before {
      @include overlay {
        padding: 0.1rem;
        border-radius: $button-border-radius;
        background: $gradient-btn-background;
        mask: $gradient-btn-mask;
        mask-composite: exclude;
      }
    }

    &:hover {
      &:after {
        @include overlay {
          border-radius: $button-border-radius;
          background: $gradient-btn-hover-background;
          z-index: -1;
        }
      }
    }
  }
}