.wrapper {
  padding: 3rem;
  > nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: relative;
    margin-bottom: 3rem;
    > a {
      position: absolute;
      top: calc(50% - 1.2rem);
      left: 0;
      > svg {
        width: 1.2rem;
        height: 1.2rem;
        transform: rotate(180deg);
      }
    }
  }
  .title {
    text-align: center;
  }
  .grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    gap: 3rem;
  }
  .button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    > button {
      margin-top: 3rem;
      align-self: center;
    }
  }
}


