.btn {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  text-shadow: $button-text-shadow;
  box-shadow: $button-box-shadow;
  border-radius: $button-border-radius;
  transition: background $button-transition;
  width: 100%;
  max-width: 28.8rem;
  height: 5.6rem;

  &.primary {
    background: $primary-btn-background;

    &:hover {
      background: $primary-btn-background-hover;
    }
  }

  &.secondary {
    border: 0.1rem solid $secondary-btn-border;
    background: $secondary-btn-background;

    &:hover {
      background: $secondary-btn-background-hover;
    }
  }

  &.white {
    border: 0.1rem solid $white-btn-border;
    background: $white-btn-background;

    &:hover {
      background: $white-btn-background-hover;
    }
  }

  &.gradient {
    position: relative;
    z-index: 0;
    > a {
      position: relative;
      z-index: 9;
      display: grid;
      place-items: center;
      height: inherit;
    }

    &:before {
      @include overlay {
        padding: 0.1rem;
        border-radius: $button-border-radius;
        background: $gradient-btn-background;
        mask: $gradient-btn-mask;
        mask-composite: exclude;
      }
    }

    &:after {
      @include overlay {
        transition: $button-transition;
        top: 5.6rem;
        bottom: 5.6rem;
        left: 50%;
        right: 50%;
        border-radius: $button-border-radius;
        background: $gradient-btn-hover-background;
        z-index: -1;
      }
    }

    &:hover {
      &:after {
        @include overlay {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
  &.transparent {
    background: transparent;
    box-shadow: none;
    height: auto;
    width: auto;
    a {
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }

    svg {
      width: 1.2rem;
      height: 0.8rem;
    }
  }
}
