// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #FFFFFF !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;




$body-font-size: 1.6rem;

$dark: #1D1D1D;
$primary-teal: #0FEFFD;
$primary-white: #FFFFFF;

// Buttons
$button-transition: 0.5s ease-in-out;

$button-border-radius: 4rem;
$button-text-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.12);
$button-box-shadow: 0 1.6rem 1.6rem 0.4rem rgba(0, 0, 0, 0.12);

$primary-btn-background: #E10856;
$primary-btn-background-hover: #BA104D;

$secondary-btn-border: #E10856;
$secondary-btn-background: #1D1D1D;
$secondary-btn-background-hover: #2C2C2C;

$white-btn-border: #FFFFFF;
$white-btn-background: #1D1D1D;
$white-btn-background-hover: #2C2C2C;

$gradient-btn-background: linear-gradient(135.87deg, #0FEFFD 1.25%, #FF00F5 51.73%, rgba(15, 239, 253, 0.22) 77.22%);
$gradient-btn-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);

$gradient-btn-hover-background: linear-gradient(rgba(44, 44, 44, 0.3) 0 0) content-box, linear-gradient(rgba(44, 44, 44, 0.3) 0 0);

// Slider
$slider-arrow-transition: 0.5s ease-in-out;

/// Container's maximum width
/// @type Length
$max-width: 126.6rem !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 32.0rem,
  'medium': 76.8rem,
  'large': 102.4rem,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/' !default;