.card {
  height: 44rem;
  min-width: 29.2rem;
  max-width: 29.2rem;
  display: flex;
  align-items: flex-end;
  position: relative;
  &:before {
    @include overlay {
      background: rgba(29, 29, 29, 0.5);
      z-index: 1;
    }
  }
  @include media-sm {
    min-width: 32rem;
  }
  .description {
    padding: 2.4rem;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.6rem;
    z-index: 1;
  }
}